{% extends 'master.html' %}

{% block content %}
    <body>

    <div class="container">

        <h2> Book list</h2>
        <table class="table table-dark" border="1">

            <thead>
            <tr>

                <th> Name</th>
                <th>Price</th>
                <th> Author</th>
                <th> Actions</th>

            </tr>
            </thead>
            <tbody>

            {% for book in books %}
                 <tr>
                     <td> {{book.name}}</td>
                     <td>  {{book.price}}</td>
                     <td> {{ book.author}}</td>
                     <td>
                         <a class="btn btn-primary" href="/edit/{{book.id}}">Edit</a>
                         <a class="btn btn-danger" href="/delete/{{book.id}}">Delete</a>


                     </td>



                 </tr>
            {% endfor %}
            </tbody>


        </table>
            <a class="btn btn-primary" href="/add_book/">Add Book</a>



    </div>
    </body>


{% endblock %}